.main {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: grid;
    place-items: center;
    background-color: var(--light-gray);
}

.main__qrcode {
    max-width: 21rem;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 0;
    border-radius: 1rem;
    background-color: var(--white);
}

.main__qrcode__image {
    border-radius: inherit;
}

.main__qrcode__title,
.main__qrcode__description {
    width: 95%;
}

.main__qrcode__title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--dark-blue);
}

.main__qrcode__description {
    text-align: center;
    color: var(--grayish-blue);
    /* line-height: 1.3rem; */
}